.about {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
    margin-top: 3%;
}


.about-imag{
   
    width: 30rem;
}

.about-p{
   
    width: 45rem;
    color: black;
    padding-top: 3%;
}