.about {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
    margin-top: 3%;
}


.about-imag{
    height: 18rem;
    width: 30rem;
}

.about-p{
    height: 25rem;
    width: 45rem;
    color: whitesmoke;
}