.forgot3{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 90%;
}

.title3{
    background-color: #201719;
    color: white;
    width: 25rem;
    margin-top: none;
}


.input-text3{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.inputs3{
  border: none;
  width: 280px;
  height: 100%;
  border-radius: 5rem;
}

.inputButton3{
    background-color: #E07851;
    border: none;
  width: 280px;
  height: 3rem;
  border-radius: 25px;
  color: #FFFFFF;
}


.forgot-image{
  background-color: black;
    justify-content: center;
  text-align: center;
  width: 25rem;
}

.register3{
    color: #E07851;
  }
