.navbar{
    display: flex;
    justify-content: space-around;
}

.logo-image{
    width: 60%;
    height: 100px;
}

ul {
    display: flex;
    gap:2rem ;
   
    
}

.menu{
    margin-top: 5%;

}

ul li a {
   
}