.navbar{
    display: flex;
    justify-content: space-around;
}

.nav-logo{
    width: 30%;
    height: 15%;
}

ul {
    display: flex;
    gap:2rem ;
   
    
}

.menu{
    margin-top: 5%;

}

ul li a {
   
}