.room {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  min-height: 70vh;
  }

  .room-page{
    min-height: 350px;
    width: 20rem;
    background-color: #201719;
    padding: 1.25rem;
    border-radius: 1rem;
  }

  .room-name{
    font-size: 1.75rem;
    font-weight: bold;
    color: whitesmoke;
  }

  .room-price{
    font-size: 1.25rem;
    font-weight: bold;
    color: whitesmoke;
  }

  .room-top{
    border-radius: 1rem;
    
  }
  .room-header{
    text-align: center;
    margin-top: 2rem;
  }
  .room-text{
    width: 60%;
    margin: 0 auto;
    font-size: 1.15rem;
    text-align: center;
    border-bottom: 1px solid #201719;
  }


  


