


.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicerDetails {
  display: flex;
  justify-content: center;
  gap: 4rem; 

}



.service-img {
  height: 3rem; 
  width: 3rem;
}



.servicerDetails-img {
  height: 20rem;
    width: 18rem;
    border-radius: 2rem;
}


.AwesomeIcon{
  font-size: 1.75rem;
}

.icon-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .2rem;

}

.icon-container p{
  font-weight: bold;
  color: rgb(51, 51, 51);
  height: 40px;
}