


.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicerDetails {
  display: flex;
  justify-content: center;
  gap: 4rem; 

}



.service-img {
  height: 3rem; 
  width: 3rem;
}



.servicerDetails-img {
  height: 20rem;
    width: 18rem;
    border-radius: 2rem;
}


