.App {
  text-align: center;
}

.title{
  background-color: #201719;
  color: white;
  width: 20%;
  margin-top: none;
}

.inputEmail{
  width: 140px;
  height: 38px;
  border: none;
  border-radius: 13px;
  color: #989898;
  background-color: #FFFFFF;
  margin-top: none;
}

.inputPassword{
  width: 140px;
  height: 38px;
  border: none;
  border-radius: 13px;
  color: #989898;
  background-color: #FFFFFF;
  margin-right:30px ;
}


.Login{
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 90%;

}

.image{
  justify-content: center;
  text-align: center;
  width: 20%;
  background-color: aqua;
}

.inputButton{
  background-color: #E07851;
  border: none;
  width: 140px;
  height: 38px;
  border-radius: 25px;
  color: #FFFFFF;
}

.register{
  color: #E07851;
}
